@media screen and (max-width: 972px) {
  .hero-section {
    flex-direction: column;
  

   .wid {
      width: 100% !important;
      text-align: center;
      margin-bottom: 2rem;
      /* padding-top:2rem; */
    }
  }
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.popup-box {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  width: 800px;
  max-width: 90%;
  text-align: center;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.3rem !important;
  cursor: pointer;
}
